{# @var craft \craft\web\twig\variables\CraftVariable #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.app.locale }}">
<head>
    {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>{% if title is defined %}{{ title }} - {% endif %}{{ craft.app.sites.currentSite.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />

        <!--# if expr="$HTTP_COOKIE=/critical\-css\=1/" -->
        {{ craft.twigpack.includeCssModule("styles.css", false) }}
        <!--# else -->
        {% do setCookie('critical-css', '1', now | date_modify("+7 days").timestamp) %}
        {{ craft.twigpack.includeCriticalCssTags() }}

        {{ craft.twigpack.includeCssModule("styles.css", true) }}
        {{ craft.twigpack.includeCssRelPreloadPolyfill() }}
        <!--# endif -->
    {% endblock %}
</head>
<body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
<div id="app">
    {% block body %}{% endblock %}
</div>

{% block foot %}
    {{ craft.twigpack.includeSafariNomoduleFix() }}
    {{ craft.twigpack.includeJsModule("app.js", true) }}
{% endblock %}
</body>
</html>
