{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_layouts/base.twig" %}

{# Set the `bodyClass` variable to the entry's section handle if there is one,
   or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
    {% set bodyClass = entry is defined ? entry.section.handle : craft.app.request.segments|first %}
{% endif %}

{% if title is not defined %}
    {% set title = (entry.seoTitle ?? entry.title)|title %}
{% endif %}

{% block body %}
    <header id="header" role="banner">
        {% block header %}
            <nav class="navbar global-navbar" id="globalNavbar">
                <div class="gn-container">
                    <div class="navbar-header gn-header" id="gnHeader">
                        <button id="gnToggle" type="button" class="navbar-toggle gn-toggle collapsed" data-toggle="collapse" data-target="#gnCollapse" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar ib-custom top-bar"></span>
                            <span class="icon-bar ib-custom middle-bar"></span>
                            <span class="icon-bar ib-custom bottom-bar"></span>
                        </button>

                        <div class="navbar-brand" id="gnBrand">
                            <a href="{{ currentSite.baseUrl }}">
                                <img class="h-full" src="{{ craft.twigpack.getModuleUri('img/' ~ currentSite.handle[:2]|replace({'ch': 'christundheiri', 'gh': 'grieshaber'}) ~'_logo_' ~ craft.app.locale ~ '.png') }}" />
                            </a>
                        </div>
                    </div>

                    <div class="navbar-collapse gn-collapse collapse" id="gnCollapse">
                        <div class="content">
                            <ul class="nav navbar-nav gn-navbar" id="gnNavbar">

                                {% set nav = craft.entries()
                                    .section('sitestructure')
                                    .level(1)
                                    .all() %}

                                {% for item in nav if item.showInNav.contains('primary') %}
                                    {% if item.type.handle != 'jobs' or craft.entries().section('jobs').count() %}
                                        <li {{ (entry is defined and item.id == entry.id) or (entryOf is defined and entryOf == item.slug) ? 'class="active"' }}>
                                            <a href="{{ item.getUrl }}" title="{{ item.title|lower }}">{{ item.title|upper }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>

                            <ul class="nav navbar-nav gn-langbar" id="gnLangbar">

                                {% for site in currentSite.group.sites %}

                                    {% set locale = craft.app.i18n.getLocaleById(site.language) %}

                                    <li{{ craft.app.locale == locale.id ? ' class="active"' }}>
                                        <a href="{{ site.baseUrl }}" data-content="{{ locale.nativeName|upper }}">{{ locale.nativeName|upper }}</a>
                                    </li>
                                {% endfor %}

                            </ul>

                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
    </header>

    <main role="main">
        {% block main %}{% endblock %}
    </main>

    <footer class="footer" id="footer">
        {% block footer %}
            <div class="global-footer" id="globalFooter">
                <div class="content">
                    <div class="footer-block gf-navbar">

                        {% set footerNav = craft.entries()
                            .section('sitestructure')
                            .level(1)
                            .all() %}

                        {% if footerNav %}
                            <ul class="nav navbar-nav" id="gfNavbar">

                                {% for item in footerNav if item.showInNav.contains('tertiary') %}
                                    {% if item.type.handle != 'jobs' or craft.entries().section('jobs').count() %}
                                        <li {{ (entry is defined and item.id == entry.id) or (entryOf is defined and entryOf == item.slug) ? 'class="active"' }}>
                                            <a href="{{ item.getUrl }}" title="{{ item.title|lower }}">{{ item.title|upper }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        {% endif %}

                        <div class="group-notice">
                            {{ "A member of the"|t }}<br>
                            <a href=""><span class="font-bold">CHRIST & HEIRI</span> GROUP</a>
                        </div>
                    </div>

                    <div class="footer-block gf-certificates">
                        <div class="content">
                            <img src="{{ craft.twigpack.getModuleUri('img/' ~ currentSite.handle[:2]|replace({'ch': 'christundheiri', 'gh': 'grieshaber'}) ~'_footer_iso.png') }}">
                            <p>{{ footer.isoNotice|upper|nl2br|raw }}</p>
                        </div>
                    </div>

                    <div class="footer-block gf-address">

                        <ul class="list-reset">
                            <li>{{ contact.addressName|upper }}</li>
                            <li>{{ contact.addressLine1|upper }}</li>

                            {% if contact.addressLine2 %}
                                <li>{{ contact.addressLine2|upper }}</li>
                            {% endif %}

                            <li>{{ contact.addressZip|upper }}&nbsp;{{ contact.addressCity|upper }}</li>

                            {% if contact.addressCountry %}
                                <li>{{ contact.addressCountry|upper }}</li>
                            {% endif %}

                            <li>
                                {{ "Phone"|t|upper }}
                                <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
                            </li>

                            <li>
                                {{ "Email"|t|upper }}
                                <a href="tel:{{ contact.email }}">{{ contact.email|upper }}</a>
                            </li>
                        </ul>

                        <p class="copyright" id="copyright">&copy;&nbsp;{{ now.year }}, {{ footer.copyrightNotice|upper }}</p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>
{% endblock %}
